.cards-conteiner {
  min-height: calc(100% - 145px);
}

.card-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-row-gap: 12px;
  grid-column-gap: 28px;
  justify-content: center;
  margin: auto;
  padding: 0px 32px 0px 32px;
  background-color: var(--offWhite);
  border-radius: 8px;
}