.sidebar-container{
  height: 650px;
  width: 350px;
  max-width: 25%;
  max-height: 100%;
  background-color: var(--offWhite);
}

/* .options-content{
  padding: 10px;
  background-color: red;
}

.select-stream{
  display: flex;
  align-items: center;
}

.sidebar-p{
  color: var(--grey1) !important;
  padding: 0px 10px;
  font-size: medium;
  display: flex;
}
*/

.check-image label > input{
    visibility: hidden;
}

.check-image label > input + i {
    display:inline-block;
    cursor:pointer;
    width: 15px;
    height: 15px;

    background:url('../../images/play-empty.png') no-repeat;
    background-size:cover;
    transition:0.5s;
}
.check-image label > input:checked + i {
    background:url('../../images/play-full.png') no-repeat;
    background-size:cover;
}