.sidebar-container{
  width: 350px;
  max-width: 30%;
  background-color: var(--offWhite);
}

.options-content{
  padding: 10px;
}

h3{
  padding-top: 15px;
}

label {
  color: var(--grey1) !important;
  padding: 0px 6px;
  font-size: small;
}

.buttons-content{
  display: flex;
  align-items: center;
  justify-content: center;
} 


.titles-container{
  align-items: center;
  justify-content: center;
  padding: 10px;
}